extends layout

block title
  title About - pledgy

block content
  div.container
    h3 About
    div.divider
    p pledgy was made by lschuermann and Eddy Shure.
    a(href="https://github.com/h42i/pledgy") Take a look at the repository on GitHub
