extends layout

block title
  title Overview - pledgy

block content
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  div.container
    h3 Projects
    ul.collection.projects
      each project in projects
        a.collection-item(href='/project/#{project.id}')
          if project.funded
            h5 Funded - #{project.name}
          else
            h5 #{project.name}
          p #{project.subtitle}
  
  
  div.fixed-action-btn.fancy-floating-button
    a.btn-floating.btn-large.waves-effect.waves-light(href="/projects/new")
      i.material-icons add
