nav
  div.nav-wrapper
    div.container
      a.brand-logo(href="/") pledgy
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href="/archive")
            i.material-icons history
        li
          a(href="/api")
            i.material-icons code
        li
          a(href="/about")
            i.material-icons info_outline
